<div class="flex gap-5 justify-center select-none">
	<div>
		<span class="countdown font-mono text-3xl md:text-5xl">
			<span id="countdown-mo" style="--value:00;"></span>
		</span>
		miesięcy
	</div>
	<div>
		<span class="countdown font-mono text-3xl md:text-5xl">
			<span id="countdown-dd" style="--value:00;"></span>
		</span>
		dni
	</div>
	<div>
		<span class="countdown font-mono text-3xl md:text-5xl">
			<span id="countdown-hh" style="--value:00;"></span>
		</span>
		godzin
	</div>
	<div>
		<span class="countdown font-mono text-3xl md:text-5xl">
			<span id="countdown-mm" style="--value:00;"></span>
		</span>
		minut
	</div>
	<div>
		<span class="countdown font-mono text-3xl md:text-5xl">
			<span id="countdown-ss" style="--value:00;"></span>
		</span>
		sekund
	</div>
</div>

<script>
    import dayjs from "dayjs";

	document.addEventListener("DOMContentLoaded", () => {
		const mo$ = document.querySelector<HTMLSpanElement>("#countdown-mo")!;
		const dd$ = document.querySelector<HTMLSpanElement>("#countdown-dd")!;
		const hh$ = document.querySelector<HTMLSpanElement>("#countdown-hh")!;
		const mm$ = document.querySelector<HTMLSpanElement>("#countdown-mm")!;
		const ss$ = document.querySelector<HTMLSpanElement>("#countdown-ss")!;

		const update = (): Promise<void> => {
            const today = dayjs();

			const mo = today.diff(dayjs("2023-12-01"), "months");
			const dd = today.get("date") - 1;
			const hh = today.get("hour");
			const mm = today.get("minutes");
			const ss = today.get("second");

			mo$.style.setProperty("--value", mo.toString());
			dd$.style.setProperty("--value", dd.toString());
			hh$.style.setProperty("--value", hh.toString());
			mm$.style.setProperty("--value", mm.toString());
			ss$.style.setProperty("--value", ss.toString());

			return Promise.resolve();
		};

		update().then(() => setInterval(update, 1000));
	});
</script>
